*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-primary:#041643;
  --color-primary:#1352F1;
  --color-white:#fff;

  /* gradiente de cores*/

  --dark-gray:#696969;
  --gray:#4E4E4E;
  --light-gray:#AFAFAF;
}

body{
  background-color: var(--bg-primary);
  background-image: url(../assets/gradient\ 2-03\ 1.svg);
  background-repeat: no-repeat;
  background-size:48%;
  padding: 91px 123px;
  height: 100vh;
}

.div-intro{
  margin-top: 100px; 
}
.div-intro > h1 {
  width: 12ch;
  color: #fff;
  margin-bottom: 23px;
}
.div-intro > p{
  color: var(--light-gray);
}

form{
  background-color: var(--color-white);
  width: 343.33px;
  padding: 50px 30px;
}

form label{
  font-size: 8px;
}

form input{
  width: 100%;
}

.link-cadrastro{
  font-size: 10px;
  color: var(--gray);
}

.link-cadrastro a{
  color: black;
  font-family: 600;
  color: var(--gray);
}

h1, p{
  color: #fff;
}
button{
  background-color: var(--color-primary);
  color: var(--color-white);
 padding: 10px 35px;
 border-radius: 5px;
 font-size: 9px;
}
footer > p {
  color: var(--color-white);
}
