* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    background-color: black;
}

main{
     height: 100%;
    border: 1px solid red;
}

.pai {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.filho {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}